.container {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin {
  font-size: 2em;
  color: #353333;
  font-weight: bold;
  border-radius: 50%;
  border: solid 6px #353333;
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.penny {
  background-color: #ad6f69;
}

.nickel {
  background-color: #b5b6b5;
}

.dime {
  background-color: #e4e4e4;
}

.quarter {
  background-color: #d0caba;
}

.half_dollar {
  background-color: #f7f6f4;
}

.silver_dollar {
  background-color: #dbdcde;
}
